- filtering_params = params[:filter] || {}

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .panel-body

        %form{:role => 'form'}
          .row
            .form-group.col-sm-4
              %label{:for => 'name'}= t('activerecord.attributes.shop_type.name')
              %input#name.form-control{:type => 'text', :name => 'filter[name]', :value => filtering_params[:name], :autocomplete => :off}
              
            - if can?(:restore, ShopType)
              .form-group.col-sm-2
                %br
                .checkbox{:style => 'margin-bottom: 0px;'}
                  %label
                    %input{:type => 'checkbox', :name => 'filter[is_deleted]', :checked => (not filtering_params[:is_deleted].blank?)}
                      %strong= t('activerecord.attributes.shop_type.is_deleted')


            .form-group.col-sm-2
              %label.text-block &nbsp;
              %input.btn-block.btn.btn-default{:type => 'submit', :value => t('views.common.filter')}