.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.text-center Last reports
   
   
      =render "reports/list"
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.text-center  Shops top

      = render 'top_shops'
  .col-sm-6
    .panel.panel-default
      .panel-heading
        %h4.text-center  Dealers top

      = render 'top_dealers'
