=javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
=javascript_include_tag "maps/shop_edit"

%h2.text-center= t('views.shops.edit', :name => @shop.name_was)
%br

= render 'form'