.panel.panel-default
  .table-responsive
    %table.table.table-condensed.table-striped.table-vcentered
      %thead
        %tr
          %th= sortable(:name, t('activerecord.attributes.shop_item.name'))
          %th.text-right
            - if policy(ShopItem).create?
              %a.btn.btn-default.btn-xs{:title => t('views.common.add'), :data => {:toggle => "tooltip", :modal => "true", :source => new_item_for_shop_path(@shop)}}
                %span.glyphicon.glyphicon-plus

      %tbody
        -if items.any?
          - items.each do |item|
            %tr
              %td= item.item.name
              %td.text-right
                - if policy(item).destroy?
                  %a.btn.btn-default.btn-xs{:title => t('views.common.delete'), :data => {:toggle => "tooltip", :type => 'delete', :modal => "true", :source => destroy_item_from_shop_path(item), :confirm => t('views.common.confirm')}}
                    %span.glyphicon.glyphicon-remove
        -else
          %tr
            %td{:colspan => 2}
              %h4.text-center= t('views.common.empty')