=javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
=javascript_include_tag "maps/dealer_show"

%h2.text-center= @user.full_name
%br

.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        %div#map_canvas.map-container-lg

  .col-sm-6
    .panel.panel-default
      - @shops = @user.shops
      = render 'shops/list'

%h3.text-center= t('views.reports.list')
%br
.row
  .col-sm-12
    .panel.panel-default
      =render 'reports/list'

    = paginate @reports
