.panel.panel-default
  .table-responsive
    %table.table.table-condensed.table-striped.table-vcentered
      %thead
        %tr
          %th= sortable(:name, t('activerecord.attributes.item.name'))
          %th.text-right
            - if can?(:create, Item)
              %a.btn.btn-default.btn-xs{:href => new_item_path, :title => t('views.common.add'), :data => {:toggle => "tooltip"}}
                %span.glyphicon.glyphicon-plus
      %tbody
        -if items.any?
          - items.each do |item|
            %tr
              %td= item.name
              %td.text-right
                - if can?(:update, item)
                  %a.btn.btn-default.btn-xs{:href => edit_item_path(item), :title => t('views.common.edit'), :data => {:toggle => "tooltip"}}
                    %span.glyphicon.glyphicon-edit
                - if can?(:destroy, item)
                  %a.btn.btn-default.btn-xs{:href => item_path(item), :title => t('views.common.delete'), :data => {:toggle => "tooltip", :method => 'delete', :confirm => t('views.common.confirm')}}
                    %span.glyphicon.glyphicon-remove
        -else
          %tr
            %td{:colspan => 2}
              %h4.text-center= t('views.common.empty')