- filtering_params = params[:filter] || {}

.row
  .col-lg-offset-1.col-lg-10
    .panel.panel-default
      .panel-body

        %form{:role => 'form'}
          .row
            .form-group.col-sm-4
              %label{:for => 'name'}= t('activerecord.attributes.employee_workposition.name')
              %input#name.form-control.input-sm{:type => 'text', :name => 'filter[name]', :value => filtering_params[:name], :autocomplete => :off}

            .form-group.col-sm-2
              %label &nbsp;
              .checkbox{:style => 'margin: 0px;'}
                %label
                  %input{:type => 'checkbox', :name => 'filter[is_deleted]', :checked => (not filtering_params[:is_deleted].blank?)}
                    %strong= t('activerecord.attributes.employee_workposition.is_deleted')


            .form-group.col-sm-2
              %label.text-block &nbsp;
              %input.btn.btn-block.btn-sm.btn-default{:type => 'submit', :value => t('views.common.filter')}