=javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp"
=javascript_include_tag "maps/dealer_show"

%h2.text-center= @city.name
%br

.panel.panel-default
  .panel-body
    .row
      .col-md-6
        %div#map_canvas.map-container-lg
      .col-md-6
        .panel.panel-default
          - @shops = @city.shops
          = render 'shops/list', :max_height => 450