= simple_form_for(@category, :html => {:role => 'form'}, :wrapper => 'vertical_form') do |f|
  .row
    = f.input :name, :wrapper_html => {:class => 'col-sm-9'}, :label_html => {:class => 'sr-only'}, :input_html => {:class => 'input-sm'}

    .col-sm-3
      .btn-toolbar.text-right
        %a.btn.btn-sm.btn-default{:href => "javascript:;", :data => {:savecategory => true}}
          %span.glyphicon.glyphicon-ok

        %a.btn.btn-sm.btn-default{:href => @category.id ? report_structure_category_path(@category) : '', :data => {:showcategory => true}}
          %span.glyphicon.glyphicon-minus