.row
  .col-sm-10
    %h4= @category.name
  .col-sm-2
    .btn-toolbar.text-right
      %a.btn.btn-primary{:href => "#{new_report_structure_element_path}?report_structure_element[report_structure_category_id]=#{@category.id}", :data => {:newelement => true}}
        %span.glyphicon.glyphicon-plus
        
      %a.btn.btn-primary{:href => edit_report_structure_category_path(@category), :data => {:editcategory => true}}
        %span.glyphicon.glyphicon-edit

      %a.btn.btn-danger{:href => report_structure_category_path(@category), :data => {:deletecategory => true, :confirmation => t('views.common.confirm')}}
        %span.glyphicon.glyphicon-remove