= stylesheet_link_tag "report_structure"

= javascript_include_tag "report_structure"

.row
  .col-lg-offset-1.col-lg-7.col-sm-9
    %h2= t('views.report_structure.index')

  .col-sm-3
    %br
    .btn-toolbar.text-right
      %a.btn.btn.btn-primary{:href => new_report_structure_category_path, :data => {:newcategory => true}}= t('views.report_structure.add_category')

%br

.row
  #report-structure.col-lg-offset-1.col-lg-10

    - @categories.each do |cat|
      = render 'report_structure_categories/show', :category => cat