- flash.each do |type, message|
  - case type.to_s
  - when 'alert'
    - type = 'warning'
  - when 'notice'
    - type = 'warning'
  - when 'error'
    - type = 'danger'

  =render "layouts/message", :type => type, :message => message

- flash.discard